html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;/*去掉默认的滚动的条*/
}
#main,.swiper-container,.swiper-wrapper,.swiper-slide{
    width: 100%;
    height: auto;
}
.swiper-wrapper .slide1{
    background: url(../img/p1-bg01.jpg) no-repeat;
    background-size: 100%;
}
.swiper-wrapper .slide2{
    background: url(../img/swiper/bg2.jpg) no-repeat;
    background-size: cover;
}
.slide1 img{
    position: absolute;
    opacity: 0;
}
.slide1 img:nth-child(1){
    left: 0.8rem;
    top: 5.5rem;
}
.slide1 img:nth-child(2){
    top: 6.5rem;
    width: 100%;
}
.slide1 img:nth-child(3){
    left: 0.7rem;
    bottom: 2.5rem;
}
.slide1 img:nth-child(4){
    width: 100%;
    bottom: 2rem;
}
.slide1 img:nth-child(5){
    left: 0.7rem;
    bottom: 0.8rem;
}
#page1 img{
    opacity: 1;
}
#page1 img:nth-child(1){
    -webkit-animation:bounceInLeft 1s 0s both;
    animation:bounceInLeft 1s 0s both;
}
#page1 img:nth-child(2){
    -webkit-animation:bounceInRight 1s 0.3s both;
    animation:bounceInRight 1s 0.3s both;
}
#page1 img:nth-child(3){
    -webkit-animation:bounceInUp 1s 0.6s both;
    animation:bounceInUp 1s 0.6s both;
}
#page1 img:nth-child(4){
    -webkit-animation:bounceInUp 1s 0.9s both;
    animation:bounceInUp 1s 0.9s both;
}
#page1 img:nth-child(5){
    -webkit-animation:bounceInUp 1s 1.2s both;
    animation:bounceInUp 1s 1.2s both;
}
@keyframes move {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


@media all and (max-width: 640px) {
    html,body{
        width: 100%;
        height: 100%;
        overflow-x: hidden;/*去掉默认的滚动的条*/
    }
    #main,.swiper-container,.swiper-wrapper,.swiper-slide{
        width: 100%;
        height: 100%;
    }
    .slide1 img:nth-child(1){
        width: 244pt;
        height: auto;
        left: 0.5rem;
        top: 5.7rem;
    }
    .slide1 img:nth-child(2){
        top: 7rem;
        width: 240pt;
        left: 0.6rem;
    }
    .slide1 img:nth-child(3){
        left: 0.5rem;
        top: 7.4rem;
        width: 239pt;
        height: auto;
    }
    .slide1 img:nth-child(4){
        width: 320pt;
        height: 7pt;
        top: 8.3rem;
    }
    .slide1 img:nth-child(5){
        left: 0.7rem;
        top: 8.9rem;
        width: 224pt;
        height: auto;
    }
}
@media all and (max-width: 320px) {
    html,body{
        width: 100%;
        height: 100%;
        overflow-x: hidden;/*去掉默认的滚动的条*/
    }
    #main,.swiper-container,.swiper-wrapper,.swiper-slide{
        width: 100%;
        height: 100%;
    }
    .slide1 img:nth-child(1){
        width: 192pt;
        height: auto;
        left: 0.7rem;
        top: 5.7rem;
    }
    .slide1 img:nth-child(2){
        width: 192pt;
        height: 1pt;
        left: 0.7rem;
        top: 6.8rem;
    }
    .slide1 img:nth-child(3){
        width: 190pt;
        height: auto;
        left: 0.7rem;
        top: 7.1rem;
    }
    .slide1 img:nth-child(4){
        width: 254pt;
        left: -0.4rem;
        top: 8.0rem;
    }
    .slide1 img:nth-child(5){
        width: 192pt;
        height: auto;
        left: 0.7rem;
        top: 8.6rem;
    }
}